*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1270px;
    margin: auto;
}
img{
    max-width: 100%;
}
.header{
    background-color: black;
    padding: 20px 0px;   
}
.main-head{
    display: flex;
    justify-content: space-between;
}
.main-head .logo{
    width: 100px;
}
nav Ul{
   display: flex; 
   list-style: none;  
}
nav Ul li{
    padding:10px 10px;
}
nav Ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}
/* Second Siv */
.main-div{
    display: flex;
    justify-content: center;
}
.left-side{
    width: 70%;
    margin: 200px auto;
}
.first-div{
    display: flex;
    justify-content: space-around;
}
.div-1{
    width: 250px;
    height: 250px;
    border: 2px solid yellowgreen;
    width: 30%;
}
.sub-div {
	height: 100px;
	width: 100px;
	background-color: red;
	align-items: center;
	display: flex;
	color: white;
}
.div-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;
}
 .div2{
     display: flex;
     justify-content: center;
     align-items: center;
     background: red;
     height: 100px;
     width: 100px;
     color: #ddd;
 }
 .div-3{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30%;
 }
 .div-3 .div3{
     height: 100px;
     width:100px ;
     background: red;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }
/* Second Section */
.second-div-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 15px;    
}
.second-div-2 .div-item {
	border: 2px solid yellowgreen;
	width: 28%;
	/* margin-right: 20px; */
	box-sizing: border-box;
	margin: 5px 7px;
	height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.second-div-2 .grow{
    flex-grow: 1;
    padding-top: -20px !important;
    display: flex;
    align-items: start;
}
   /* Div 3 */
.main-div-3{
display: flex;
justify-content: space-around;
}
 .flex-centent{
     border: 3px solid yellowgreen;
     width: 30%;
     height: 200px;
     padding-top: 20px;
     display: flex;
     align-items: start;
     justify-content: space-around;
     align-content: space-around;    
 }
 .flex-div-1{
   padding: 10px ;
  background:red;
   color: white;
   
   text-align: center;  
 }
.flx{
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: center;
   align-items: center;
   padding-left: 20px;       
}
 .flex-div-2{
     background-color: red;
     padding: 10px 20px;
     color: white;
     border: 1px solid #008D00;
 }
 .fflx{
     display: flex;
     justify-content: space-evenly;
     padding: 20px 0px;
     align-content: center;
 }
.zzz{
    align-self: center;
}
.yyy{
    align-self: flex-end;  
}
.flex-div-3{
    background: red;
    padding: 10px 20px;
    color: white;
}
/* Sidebar */
.right-side{
    width: 25%;
    background-color: #ddd;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 25px 20px;
    border-left: 2px solid #000;
}
.right-side h2{
    padding: 10px 0px;
}
.right-side img{
    padding: 10px 0px;
}
footer{
    background-color: black;
    margin-bottom: 10px;
    margin-top: 25px;
}
.ft-menu{
    list-style: none;
    display: flex;
    justify-content: center;   
}
.ft-menu li{  
    padding: 10px 30px;
}
.ft-menu li a{
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 1px solid #fff;   
}
